.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 60px;
  background-color: white;
  width: 72px;
  display: grid;
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  z-index: 101;
}

.sidebar-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-tab:hover {
  background-color:  rgb(238, 238, 238);
  cursor: pointer;
}

.sidebar-icon {
  height: 30px;
  padding-bottom: 5px;
}

.sidebar-text {
  font-family: Roboto, Arial;
  font-size: 10px;

}
